<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.xfy9326.atools.core">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="io.github.xfy9326.atools.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="io.github.xfy9326.atools.core.startup.AIOInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>